.filterContainer {
    margin-bottom: 20px;
}
.filterSortByLabel {
    text-align: right;
}
.filterSortByLabel span {
    padding-top: 5px;
    display: block;
}
.filterSection {
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 40px;
}

.emptyDropdown {
  background-color: #fff;
}

.filterDropdown {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff !important;
  color: #212529 !important;
  border-color: rgba(0, 0, 0, 0.12) !important;
}

.filled {
  background:  #007bff !important;
  color: #fff !important;
}