.header {
  font-weight: 200;
  color: #666363;
  font-size: 20px;
  font-family: Open Sans, sans-serif, Arial;
  padding-bottom: 10px;
}

.publicationsContainer {
  background-color: #f5f5f5;
}

.sectionHeader {
  font-size: 28px;
  color: #393a3d;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}