.footer{
    font-size: 13px;
    height: 7rem;
    /* font-weight: 300; */
    /* margin-bottom: 30px; */
    text-align: center;
    /* -webkit-filter: blur(10px); */
    /* filter: blur(10px); */
    border-top: 1px solid #f1f1f1;
    /*padding: 1rem;*/
}
.footer p{
font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.16px;
    text-align: center;
    color: #0a0e13;
    padding-top: 33px;
    padding-bottom: 14px;
} 

/* Smartphones (portrait and landscape) ----------- /*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

    .footer{
        height: 4rem;
        font-size: 10px;
        padding: 0.5rem;
    }

}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {

}

/* Smartphones (portrait) ----------- /*/
@media only screen
and (max-width : 320px) {

}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {

    .footer{
        height: 4rem;
        font-size: 10px;
        padding: 0.5rem;

    
    }
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

 
}

/* Desktops and laptops ----------- /*/
@media only screen
and (min-width : 1224px) {

}

/* Large screens ----------- /*/
@media only screen
and (min-width : 1824px) {

}