.topNav{
    background-color: white;
    border-radius: 0;
    border-bottom: 1px solid #d1d1d1;
    margin: 0;
    display: flex;
    color: black;
    padding-left: 10px;
    position: fixed;
    width: 100%;
    z-index: 990;
}

.drop-container{
    color: #323942;
    margin: 15px;
    align-self: flex-start;
    position: absolute;
    right: 0px;
    margin: 1.5rem 3.1rem 0rem 1rem;
  /* border: 1px solid red; */
    padding: 4px;
    font-size: 1.5rem;
}

.navbar-brand {
    float: left;
    height: 0px;
    padding: 13px 40px 20px 12px;
    font-size: 28px;
    line-height: 20px;
    width: 140px;
    text-align: left;
    width: 200px;

}
.navbar{
  min-height: 70px;
}
.navbar-text {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 23px;
  letter-spacing: -0.41px;
  text-align: center;
  color: #323942 !important;
  margin: 14px 15px 0px 5px;
  display: block;
  font-family: '1898Sans-Bold,sans-serif';
  position: relative;
  top: 3px;
}

/* Dropdown Button */
.drop-btn {
    color: #323942;
    font-size: 1.5rem;
    border: none !important;
    margin: 0px;
    padding: 0px;
}
.header-username{
  width: 120px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  font-family: opensans-regular;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.34px;
  
}

/* The container <div> - needed to position the dropdown content*/
.dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.publication_text{
    font-size:18px;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    right: 50%;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #323942;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
/*



/*********

Responsive to following devices 

1281px to higher    Desktop - Hig Resolution                    *[Secondary] 
1025px to 1280px    Desktop/Laptops                             *[DEFAULT]        
768px to 1024px     Tablets, Ipads (portrait)                   *[Secondary]  
768px to 1024px     Tablets, Ipads (landscape)                  *[DEFAULT]  
481px to 767px      Low Resolution Tablets, Mobiles (Landscape)
375px to 812px      iPhone X (landscape)
375px to 667px      iPhone 6/7/8 (Portrait)                     *[Secondary] 
320px to 479px      Most of the Smartphones Mobiles (Portrait)


**********/

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  

  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  .drop-container{

    margin: 1rem 6rem 1rem 1rem;

}
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .drop-container{
    margin: 1rem 1rem 1rem 1rem;
  }
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px   
*/

@media (min-width: 481px) and (max-width: 767px) {
  

  
}


/* 
  ##Device = iPhone X (landscape)
  ##Screen = B/w 375px to 812px 
*/

@media (min-width: 375px) and (max-width: 812px) and (orientation: landscape) {
  
  .drop-container{
    margin: 1rem 6rem 1rem 1rem;
  }
  
}




/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px 
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .navbar-text{
    display:none;

  }
  .drop-container{
    margin: 1rem 5rem 1rem 1rem;
  }

  .navbar-brand {
    padding: 15px 0px;
    
  }
  .header-username {
    width: 100px;
  }
  .topNav {
  position: fixed !important;
  width: 100%;
  }
}

/* 
  ##Device = iPhone 6/7/8 (Portrait)
  ##Screen = B/w 375px to 667px     
*/

@media (min-width: 375px) and (max-width: 667px) {
  
  .navbar-text{
    display:none;

  }
  .drop-container{
    margin: 1rem 5rem 1rem 1rem;
  }

  .navbar-brand {
    padding: 15px 0px;

  }
  .topNav {
    position: fixed !important;
    width: 100%;
  }


}

/* 
  ##Device = iPhone 6/7/8 (Landscape)
  ##Screen = B/w 375px to 667px
*/

@media (min-width: 375px) and (max-width: 667px) and (orientation: landscape) {
  
  .navbar-text{
    display:none;

  }
  .drop-container{
    margin: 1rem 7rem 1rem 1rem;
  }

  .navbar-brand {
    padding: 15px 0px;

  }
  .topNav {
    position: fixed !important;
    width: 100%;
  }

}


/* 
  ##Device = iPhone 6/7/8 PLUS  (Portrait)
  ##Screen = B/w 414px to 736px     
*/

@media (min-width: 414px) and (max-width: 736px) {


  .topNav {
    position: fixed !important;
    width: 100%;
  }



}

@media (min-width:992px) and (max-width:1023px){
  
  .drop-container{
    padding-right: 4rem;
  }

}


