.expand-relationships {
    text-decoration: none;
    margin-left: 5px;
}

.expand-relationships:hover {
    text-decoration: none;
}

.table>thead>tr>th {
    background-color: #337ab7;
    color: white;
}
.manageprofiletabledetails {
    width: 23.8%;
}
.manageprofilefirsttableheader{
    width:18.9vw;
}
.identity-table-container .table td{
    padding:16px 16px 16px 12px !important;
}