.userContainer {
    display: grid;
    height: 160px;
    padding: 0 5rem;
    padding-top: 4.25rem;
    margin-bottom: 40px;
    grid-template-columns: [col-1-start] 144px [col-2-start] 3rem [col-3-start] auto [col-end];
    grid-template-rows: [row-1-start] auto [row-2-start] 3rem [row-3-start] 3rem [row-4-start] 3rem [row-5-start] auto [row-end];
}

.userImg {
    grid-row-start: row-1-start;
    grid-row-end: row-end;
    grid-column-start: col-1-start;
}

.userImg span {
    display: block;
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.userName {
    grid-row-start: row-2-start;
    grid-column-start: col-3-start;
}

.h1, h1 {
    margin-top: 1rem;
}

.userTitle {
    grid-row-start: row-4-start;
    grid-column-start: col-3-start;
}

.h3, h3 {
    margin: 0;
}

.btnContainer {
    grid-row-start: row-3-start;
    grid-column-start: col-3-start;
}

.manageBtn {
    color: #005AD9;
    text-decoration: underline;
    border: none !important;
    margin: 0;
    padding: 0;
}
