




#root{
    height: 100vh;
}

body{
    height: 100vh;
}

#root>div{
    height: 100vh;
}

.login-main-container{
    min-height: 94%;
    display: grid;
    grid-template-rows: [header] auto [form] 1fr [footer] auto;
}

.header{
    grid-row-start: header;
}
.login-main-container .form-container{
    grid-row-start: 2;
}
.form-container{
    display: grid;
    align-items: center;
    justify-content: center;
}

.login-form {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 30px 40px;
    border-radius: 4px;
}


h3.login-header {
    margin: 0 0 20px;
    font-size: 24px;
    font-weight: 500;
    font-family: Arial;
}

small.text-muted.form-text {
    font-size: 14px;
    font-family: Arial;
    margin-bottom: 12px;
}



.form-group .form-control {
    height: calc(3.25rem + 7px)!important;
    margin: 8px 0 0 0 !important;
    font-size: 15px!important;
    font-weight: 400;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.33;
    letter-spacing: 0; 
    text-align: left;
    color: #212121;
    font-family: opensans-regular;
    height: 40px;
    border-radius: 2px;
    border: 1px solid #999;
    background-color: #fff;
    padding-left: 8px!important;
    outline: none!important;
    box-shadow: none!important;
}



button.login-btn.btn.btn-primary {
    float: right;
    color: #fff;
    font-weight: 600;
    background-color: #015AD9;
    font-size: 16px;
    font-family: Arial;
    border: 1px #ccc solid !important;
    padding: 6px 11px;
    margin-top: 10px;
    border-radius: 6px;
}


.footer{
    grid-row-start: footer;
}
