.show-rows {
    width: 100%;
    display: table;
}
.show-rows select {
    width: 44px !important;
    height: 31px !important;
  border-radius: 4px;
  border: solid 0.5px #bbbbbb;
  background-color: #f9f9f9;
  background-image: linear-gradient(45deg, transparent 71%, #005ad9 13%), linear-gradient(135deg, #005ad9 33%, transparent 26%) !important;
  background-position: calc(1% - -21px) 11px, calc(1% - -31px) 11px, 0% 0px;
  background-size: 10px 10px, 10px 10px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  padding-left: 5px !important;
  padding-right: 21px !important;
  margin-left: -17px;
  margin-top:0px;
}
.show-rows label {
    display: table-cell;
    padding-right: 10px;
    width: 110px;
}
.pagination-container {
    padding: 10px;
    background-color: #E8E8E8;
}
.pagination-container label {
    font-weight: normal;
    font-size:14px;
}
.pagination-container .col {
    padding: 10px;
}
.pagination-container ul.pagination {
    margin: 0px;
    border:0px solid #bbb;
    border-radius:4px;
    float:right;
}
.firstpagination_btn {
    margin-right: 5px !important;
    border-radius: 4px !important;
}
.lastpagination_btn {
    margin-left:5px !important;
    border-radius: 4px !important;

}
.page-item.disabled .page-link {
    background-color: #f9f9f9;
    font-size: 10px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    /* height: 12.3px; */
    text-align: center;
    color: #5b5b5b;
    border: 1px solid #bbbbbb;

}
.pagination_icons_wrap{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pagination_icons_wrap12{
    border-top-right-radius: 4px;
    border-bottom-right-radius:4px;
}
.page-item .page-link{
    background-color: #f9f9f9;
    font-size: 10px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    border: 1px solid #bbbbbb;
    letter-spacing: normal;
    /* height: 12.3px; */
    text-align: center;
    color: #5b5b5b;
 

}
.pagination_carot_icon{
    color:#005ad9;
}
@media(max-width:768px) {
    .pagination-container {
        padding: 0px 0px !important;
    }
}
.pagination-container ul.pagination li span{
    padding: 4px 10px;
}
