.show-rows {
    width: 100%;
    display: table;
}
.show-rows select {
    max-width: 100px;
    height: calc(3.25rem + 2px) !important;
    width:60px !important;
}
.show-rows label {
    display: table-cell;
    padding-right: 10px;
    width: 110px;
}
.pagination-container {
    padding: 10px;
    background-color: #E8E8E8;
}
.pagination-container label {
    font-weight: normal;
}
.pagination-container .col {
    padding: 10px;
}
.pagination-container ul.pagination {
    margin: 0px;
    border:1px solid #bbb;
    border-radius:4px;
    float:right;
}
@media(max-width:768px) {
    .pagination-container {
        padding: 0px 0px !important;
    }
}
.pagination-container ul.pagination li span{
    padding: 4px 10px;
}
