.h6fnhWdeg-main-container {
    font-family: 'Helvetica Neue', Helvetica;
}


.h6fnhWdeg-publication-field {
    line-height: 1.3em !important;
}


.h6fnhWdeg-publication-citation {
    display: none;
}

.h6fnhWdeg-publication-show-evidence-container {
    display: none;
    margin-top: 20px;
}
.h6fnhWdeg-publication-show-evidence-container.h6fnhWdeg-publication-show-evidence-container-open {
    display: block;
}
.h6fnhWdeg-publication-evidence-bar {
    margin-left: 0px !important;
    margin-bottom: 15px !important;
    margin-top: -23px;
}

.h6fnhWdeg-publication-show-evidence-link, .h6fnhWdeg-publication-evidence-hide {
    margin-left: -10px;
    position: relative;
    top: 8px;
}

.h6fnhWdeg-publications-evidence-table {
    font-size: 14px;
}
.h6fnhWdeg-publications-evidence-table thead th {
    background: #202b3b !important;
    color: #fff !important;
    padding: 10px 10px 4px;
    font-family: opensans-bold;
    font-size:15px;
    letter-spacing: 0.17px;
    height:38px;
    text-align: left;
    border-bottom: 2px solid gray;
}
.h6fnhWdeg-publications-evidence-table td {
    padding: 5px 10px;
    vertical-align: middle !important;
}
.h6fnhWdeg-publications-evidence-table thead .h6fnhWdeg-first-cell {
    text-align: right !important;
    border-left: none;
}

.h6fnhWdeg-publications-evidence-table p {
    margin: 5px 0px;
    font-size: 14px;
}
.h6fnhWdeg-publications-evidence-table strong {
    font-weight: bold;
}
.h6fnhWdeg-publications-evidence-table small {
font-size:14px;
}
.h6fnhWdeg-publication-buttons .h6fnhWdeg-publication-accept{
    display: inline-block;
    margin: 5px;
    /* margin-top:0px; */
    height:33px;
    background-color: #77d900 !important;
    border:0px !important;
    border-radius: 2px;
    outline: none !important;
    box-shadow: none !important;
    color:#202b3b !important;
    margin-right:0px;
    font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.17px;
    font-size:15px;
}
.h6fnhWdeg-publication-buttons .h6fnhWdeg-publication-rejected{
    display: inline-block;
    margin: 5px;
    margin-right:0px;
    margin-top:5px;
    height:33px;
    background-color:#d91a00 !important;
    border:0px !important;
    border-radius: 2px;
    outline: none !important;
    box-shadow: none !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.17px;
      font-size:15px;
}
.h6fnhWdeg-publication_tablerow{
    position:relative;
}
.h6fnhWdeg-publication_tablerow .h6fnhWdeg-publication-row-buttons{
position: absolute;
right:83px;
margin-top:-19px;
}
.evidance_tablepubmedcolspan{
    padding:0px !important;
}
.publication_evidance_tablediv{
    border-bottom:3px solid #f4f4f4;   
}
.publication_evidance_tablediv .h6fnhWdeg-publication_tabletd{
    border: 0px !important;
}
.tabs_tables .h6fnhWdeg-publication_tabletd, .tabs_tables th{
    border-bottom:3px solid #f4f4f4;
    border-top:0px !important;
}
.tabs_tables td, .tabs_tables th{
    border-top:0px !important;  
}
.evidance_review_suggest_td{
    padding:0px;
}
.h6fnhWdeg-publication-buttons {
    width:210px;
    text-align: center;
    padding-top: 23px !important;
}
.h6fnhWdeg-publication-content {
    padding-top: 20px !important;
    width:850px;
}
.publication_evidence_tr{
    width:100%;
    display:inline-table;
}
.h6fnhWdeg-publication-accept {
    font-size: 15px;
    margin-right: 5px;
}
.h6fnhWdeg-publication-reject {
    border:0px !important;
    border-radius: 2px;
    height:33px;
    background-color:#d91a00 !important;
    outline: none !important;
    box-shadow: none !important;
    font-weight: normal;
    margin-left:6px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.17px;
      font-size:15px;
}

.h6fnhWdeg-reciter-type {
    display: inline-block;
    border: 1px solid #dedcdc;
    background: #eaeae1;
    border-radius: 2px;
    text-align: center;
    padding: 5px 5px;
    line-height: 1.0em;
    margin-top: 8px;
    font-size: 11px;
    font-family: opensans-bold;
}
.h6fnhWdeg-publication-undo .fa-undo {
    transform: rotate(-44deg);
}
.publicationaccepted_icons{
    width: 14px;
    margin-top: -3px;
}
.publicationreject_icons {
    width: 10px;
    margin-top: -4px;
}
.publicationundo_icons {
    width: 14px;
    margin-top: -4px;
    height: 12px;
    transform: rotate(-42deg);
}
.h6fnhWdeg-publication-undo {
border-radius: 2px;
height:33px;
outline: none !important;
box-shadow: none !important;
color: #202b3b;
font-weight: normal;
    margin-right: 5px;
margin-left:5px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    margin-right:0px;
    letter-spacing: 0.17px;
      font-size:15px;
}
.h6fnhWdeg-publication-score {
    display: inline-block;
    background: #202b3b;
    border-radius: 0px;
    text-align: center;
    padding: 14px 10px 7px 10px;
    line-height: 1.2em;
    margin-top: 20px;
    font-size: 12px;
    height: 89px;
    border-radius: 2px;
    color: #fff;
    width: 108px;
}
.h6fnhWdeg-publication-score strong {
    display: block;
    font-size: 40px;
    text-align: center;
    padding: 18px 0px 10px 0px;
}
.h6fnhWdeg-publication-content p {
    line-height: 1.1em;
}

.h6fnhWdeg-publication-row-buttons {
    float: right;
}
.h6fnhWdeg-publication-row-buttons a {
    border-radius: 2px;
    background-color: #ffffff !important;
    border: 1px solid #005ad9 !important;
    margin-left:5px;
    color: #005ad9 !important;
    outline: none !important;
    box-shadow: none !important;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.17px;
    height: 39px;
    width: 89px;
    padding: 8px;
}
.h6fnhWdeg-publication-show-evidence-container {
    font-size: 14px;
}
.h6fnhWdeg-publication-show-evidence-link {
    color: #005ad9;
    cursor: pointer;
    font-size: 15px;
    cursor:pointer;
    pointer-events: auto;
}
/* .h6fnhWdeg-publication-show-evidence-link.h6fnhWdeg-publication-evidence-show::before {
    content: '-';
    padding: 0px 4px 0px 9px;
    font-size: 37px;
    position: relative;
    top: 3.5px;
} */

/* .h6fnhWdeg-publication-show-evidence-link.h6fnhWdeg-publication-evidence-hide::before {
    content: '+';
    padding: 0px 6px 0px 9px;
    font-size: 37px;
    position: relative;
    top: 7.5px;
} */
.link_for_show_evidence_hidemain {
    padding-top: 8px;
    margin-left: 10px;
    pointer-events:none;
    cursor: default;
}
.reciter_type_name {
    width: 50%;
    display: inline-block;
}
.link_evidence_underline{
    text-decoration:underline;
}
.h6fnhWdeg-publication-show-evidence-link {
    text-decoration: none !important;
}
.h6fnhWdeg-publication-show-evidence-link:hover {
    text-decoration: none;
}
.h6fnhWdeg-publication-field {
    font-size: 16px;
    line-height: 25px !important;
    letter-spacing: .18px;
}
.h6fnhWdeg-publication-author-highlighted {
    background-color: rgba(191, 217, 1, 0.31);
    height: 33px;
    line-height: 1em;
    padding: 5px;
    color: #000;
}
.Publications_text_bold {
    font-size: 16px;
    color: #000;
    font-weight: bold;
}
.h6fnhWdeg-evidence-score-popup-container {
    text-align: left;
    max-width: 300px;
}
.h6fnhWdeg-publications-evidence-table td{
    color:#000;
    font-size:14px;
}
.h6fnhWdeg-reciter-type {
    display: inline-block;
    /* border: 1px solid #dedcdc; */
    background: #d9d9d9;
    border-radius: 2px;
    text-align: center;
    padding: 5px 5px;
    line-height: 1.0em;
    margin-top: 8px;
    font-size: 10px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0a0e13;
    margin-left: 6px;
    letter-spacing: 0.11px;
    font-weight: bold;

}

.h6fnhWdeg-publication-undo {
    color: #474747 !important;
    background-color: #ffffff !important;
    border-color: #ccc;
    height: 33px;
    border-radius: 2px;
    font-size:15px;
    margin-right:0px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.17px;
    border: solid 1px #474747 !important;
}
.h6fnhWdeg-publication-undo:hover {
    color: #333;
    border-color: #999;
}
@media(min-width:1366px) and (max-width:1600px){
    
}
@media(min-width:1200px) and (max-width:1365px){
    .link_for_show_evidence_hidemain {
        width: 42.9%;
    }

}
