#root {
    height: 100vh;
}

body {
    height: 100vh;
}

#root>div {
    height: 100vh;
}

/* Subgrid of content section in main-container */

.search-content-container {
    grid-row-start: page-content;
    display: grid;
    grid-template-rows: [search-bar] auto [search-table] auto [start-footer];
}

.search-bar {
    grid-row-start: search-bar;
    padding: 1rem 3rem;
}

.search-bar .form-control {
    height:39px;
}

.individual-link {
    color: #337ab7;
    cursor: pointer;
}

.page-title {
    font-size:16px;
    margin-bottom: 6px;
}

.resultTable ul {
    list-style: none;
    padding-left: 4px;
}

.resultTable ul li:before{
    content:"•";
    font-size:10pt;
    margin-right: 10px;

}

.pagination-container {
    padding: 10px;
    background-color: #E8E8E8;
}
