.sideNav {
  height: 100%;
  /* z-index: 1; Stay on top */
  background-color: #202B3B;
  overflow: hidden; /* Disable horizontal scroll */
  padding-top: 18px;
    color: white;

}

.icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-size: contain;
  position: relative;
  top: 3px;
  background-repeat: no-repeat;
  margin-right:1rem;
}

/* The navigation menu links */
.links{
  padding: 2px 0px;
  text-decoration: none;
  /* font-size: 25px; */

  display: block;
}

.links a{
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: white;
  font-weight: 800;
  padding: 8px 4px 8px 40px;
  font-size: 15px;
}

/* When you mouse over the navigation links, change their color */
.links a:hover,.links a:active {
  color: white;
  background-color: #005AD9;
}
.side_nav_icon {
  margin-left: 1rem !important;
}
.category{
  font-weight: 900;
  /* padding: 0 1rem 0 1rem; */
  font-size: 15px;
}

.navHr{
    border-color:#999999 ;
    width:160px;
}
.side_bar_active{
  color: white;
  background-color: #005AD9;
}
.sideNav_tooglt_btn{
  position:absolute;
  right:0;
  top:15px;
  z-index:999;
  display:none;
}
.desktop_side_bar{
  display:block;
  height: 100%;
}
.mobile_side_bar{
  display:none;
}
/*
@media (min-width:769px) and (max-width:992px){
  .sideNav{
    position:fixed;
    z-index:999;
    overflow: auto;
    margin-top:0px;
    height:100vh;
    width:220px;
 }
 .sideNav_tooglt_btn{
   display:block;
 }
 .desktop_side_bar{
   display:none;
 }
 .mobile_side_bar{
   display:block;
 }
}
*/
@media (max-width:768px){
  .sideNav {
    position: fixed;
    z-index: 999;
    overflow: auto;
    /* margin-top: 97px; */
    height: 100vh;
    width:220px;
}
  .sideNav_tooglt_btn{
    display:block;
    margin-right: 10px;
  }
  .desktop_side_bar{
    display:none;
  }
  .mobile_side_bar{
    display:block;
  }
}

@media (max-width: 414px){

.sideNav {
  position: fixed;
  z-index: 999;
  overflow: auto;
  /* margin-top: 97px; */
  height: 100vh;
  width: 100%;
}

.navHr {
  width: 100%;
}

nav .navbar-text{
display:none;

}

}


@media (max-width: 812px){

  .sideNav {
    position: fixed;
    z-index: 999;
    overflow: auto;
    /* margin-top: 97px; */
    height: 100vh;
    width: 250px;
  }
  
  .navHr {
    width: 100%;
  }
  
  nav .navbar-text{
  display:none;
  
  }
  
  }





/* Smartphones (portrait and landscape) ----------- /*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

}

/* Smartphones (landscape) ----------- /
@media only screen
and (min-width : 321px) {

}

/* Smartphones (portrait) ----------- /*/
@media only screen
and (max-width : 320px) {

}

/* iPads (portrait and landscape) ----------- /
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {

}

/* iPads (landscape) ----------- /
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {

}

/* iPads (portrait) ----------- /*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

  .sideNav{
    position:fixed;
    z-index:999;
    overflow: auto;
    margin-top:0px;
    height:100vh;
    width:220px;
 }
 .sideNav_tooglt_btn{
   display:block;
 }
 .desktop_side_bar{
   display:none;
 }
 .mobile_side_bar{
   display:block;
 }
}

/* Desktops and laptops ----------- /*/
@media only screen
and (min-width : 1224px) {

}

/* Large screens ----------- /*/
@media only screen
and (min-width : 1824px) {

}

