.sideNav {
  height: 100%;
  /* z-index: 1; Stay on top */
  background-color: #202B3B;
  overflow: hidden; /* Disable horizontal scroll */
  padding-top: 40px;
    color: white;

}

.icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-size: contain;
  position: relative;
  top: 3px;
  background-repeat: no-repeat;
  margin-right:2px;
}

/* The navigation menu links */
.links{
  padding: 6px 0px 6px 0px;
  text-decoration: none;
  /* font-size: 25px; */

  display: block;
}

.links a{
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: white;
  font-weight: 400;
  padding: 6px 0 6px 24px;
  font-size: 12px;
}

/* When you mouse over the navigation links, change their color */
.links a:hover {
  color: white;
  background-color: #005AD9;
}

.category{
    font-weight: 900;
    padding: 0 1rem 0 1rem;
}

.navHr{
    border-color:#999999 ;
}
.sideNav_tooglt_btn{
  position:absolute;
  right:0;
  top:15px;
  display:none;
}
.desktop_side_bar{
  display:block;
  height: 100%;
}
.mobile_side_bar{
  display:none;
}
@media (max-width:768px){
  .sideNav{
     position:absolute;
     z-index:999;
  }
  .sideNav_tooglt_btn{
    display:block;
  }
  .desktop_side_bar{
    display:none;
  }
  .mobile_side_bar{
    display:block;
  }
}