.sideNav {
  height: 100%;
  /* z-index: 1; Stay on top */
  background-color: #202B3B;
  overflow: hidden; /* Disable horizontal scroll */
  padding-top: 40px;
    color: white;

}

/* The navigation menu links */
.links{
  padding: 6px 0px 6px 0px;
  text-decoration: none;
  /* font-size: 25px; */

  display: block;
}

.links a{
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: white;
  font-weight: 400;
  padding: 6px 0 6px 16px;
}

/* When you mouse over the navigation links, change their color */
.links a:hover {
  color: white;
  background-color: #005AD9;
}

.category{
    font-weight: 900;
    padding-left: 1rem;
}

.navHr{
    border-color:#999999 ;
}
