.sideNav {
  height: 100%;
  /* z-index: 1; Stay on top */
  background-color: #202B3B;
  overflow: hidden; /* Disable horizontal scroll */
  padding-top: 40px;
    color: white;

}

.icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-size: contain;
  position: relative;
  top: 3px;
  background-repeat: no-repeat;
  margin-right:2px;
}

/* The navigation menu links */
.links{
  padding: 2px 0px;
  text-decoration: none;
  /* font-size: 25px; */

  display: block;
}

.links a{
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: white;
  font-weight: 400;
  padding: 4px 0 4px 24px;
  font-size: 14px;
}

/* When you mouse over the navigation links, change their color */
.links a:hover,.links a:active {
  color: white;
  background-color: #005AD9;
}
.side_nav_icon {
  margin-left: 1rem !important;
}
.category{
  font-weight: 900;
  /* padding: 0 1rem 0 1rem; */
  font-size: 15px;
}

.navHr{
    border-color:#999999 ;
}
.side_bar_active{
  color: white;
  background-color: #005AD9;
}
.sideNav_tooglt_btn{
  position:absolute;
  right:0;
  top:15px;
  z-index:999;
  display:none;
}
.desktop_side_bar{
  display:block;
  height: 100%;
}
.mobile_side_bar{
  display:none;
}
@media (min-width:769px) and (max-width:992px){
  .sideNav{
    position:fixed;
    z-index:999;
    overflow: auto;
    margin-top:0px;
    height:95vh;
 }
 .sideNav_tooglt_btn{
   display:block;
 }
 .desktop_side_bar{
   display:none;
 }
 .mobile_side_bar{
   display:block;
 }
}
@media (max-width:768px){
  .sideNav{
     position:fixed;
     z-index:999;
     overflow: auto;
     margin-top:97px;
     height:95vh;
  }
  .sideNav_tooglt_btn{
    display:block;
  }
  .desktop_side_bar{
    display:none;
  }
  .mobile_side_bar{
    display:block;
  }
}
