.h6fnhWdeg-add-publication-search-container {
    background: #efefef;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
}
.addpuubmed_containerfilter{
    padding-bottom:2.3rem !important;
}
.yearsearliest {
    position: relative;
    margin-left: 0px;
}
#year {
    padding: 0px 0px 0px 12px !important;
    height: 40px !important;
    border-radius: 2px;
    border: solid 1px #474747;
    background-color: #ffffff;
    width:90px !important;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-family:opensans-regular;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.17px;
    text-align: left;
    color: #474747;

}
.yearpublicationscolumns{
    padding-right:0px;
    margin-left:5px;
}
.h6fnhWdeg-add-publication-search-container button {
    margin-left:0px;
    background-color: #005ad9;
    border-color: #005cbf;
    border: 0px !important;
    box-shadow: none !important;
    border-radius: 2px;
    outline: none !important;
    padding: 7px 12px;
}
.addpublicatiionnumberofresults{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: -0.36px;
    color: #323942;   
}
.addpublicatiionnumberofresults strong{
    font-family:opensans-bold;
}
.h6fnhWdeg-add-publication-search-container .form-control{
    border-radius:2px;
    border:1px solid #000;
    outline:none !important;
    box-shadow:none !important;
    font-style:italic;
}
label.year-label {
    padding-right: 0;
    /* width: 60px; */
    display: table-cell;
}
label.latestyear{
    width:61px;
    position: relative;
    top: 3px;
}
label.earliest{
 width:70px;
 position: relative;
 top: 3px;   
}
.addpublicationlabel{
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.94;
    letter-spacing: 0.18px;
    text-align: left;
    color: #000000;
    font-family: opensans-bold;   
}
.searchpubmedbtn{
    height:40px;
    border-radius: 0px 2px 2px 0px;
    outline: none !important;
    box-shadow: none !important;
}
.tab-add-publication {
    padding: 6px 14px 25px 14px;
}
.tabaddpublication_topheader{
    padding: 7px 14px 0px 14px;  
}
.tab-add-publication .pagination_main_wrap {
    display: none;
}
/* .tabaddpublication_topheader input.form-control{

} */
.addpubmedsearchinput{
    height: 40px;
    width:84.1% !important;
    padding-left: 10px !important;
    border-radius: 2px;
    border: solid 1px #474747 ;
    background-color: #ffffff; 
    box-shadow: none !important;  
    outline:none !important; 
    font-family: opensans-italic;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: -0.19px;
    color: #212121;
}

input.form-control {
	/* width: 80% !important; */
	display: inline !important;
	margin-top: 0 !important;
}
.yearsearliest select{
    /* background-image: linear-gradient(45deg, transparent 64%, #005ad9 33%), linear-gradient(135deg, #005ad9 44%, transparent 39%) !important;
    background-position: calc(1% - -62px) 15px, calc(1% - -72px) 15px, 0% 0px; */
  /* background-size: 10px 10px, 10px 10px; */
  background-repeat: no-repeat;
  -webkit-appearance: none;
  appearance: none;   
  outline: 0px !important;
    box-shadow: none !important;  
    background-image: url('../images/icons/Earliest1.png') !important;
}
.yearslatest select{
    background-image:linear-gradient(45deg, transparent 64%, #005ad9 33%), linear-gradient(135deg, #005ad9 44%, transparent 39%) !important;
    background-position: calc(1% - -63px) 15px, calc(1% - -73px) 15px, 0% 0px;
  background-size: 10px 10px, 10px 10px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  appearance: none; 
  outline: 0px !important;
    box-shadow: none !important; 
}
.show-rows select{
    margin-left: 0;
}

.add-publication_content {
    padding-left: 20px !important;
    padding-top: 0px !important;
    padding-bottom: 44px;
}

.tab-add-publication .filter-container .pagination-container {
    background-color: #FFF;
}   

.tab-add-publication .filter-container input.form-control {
    margin-top: 10px !important;
}
.addpuubmed_containerfilter .show-rows{
    margin-left:0px;
}
@media(min-width:1366px) and (max-width:1920px){
    .searchpubmedbtn{
        width:58px;
    }
}