.Accepted_tabs_filter .filter-container input{
    max-width: 279px !important;
    width: 279px !important;
    margin-right: 0px !important;
    outline: none !important;
    height: 40px !important;
    padding: 1px 9px 0px 10px;
    font-style: italic;
    box-shadow: none !important;
    border-radius: 2px;
}
.tabs_responsive_table{
    display:contents;
}
.Accepted_tabs_filter #dropdownMenuButton{
height:40px;
border-radius: 2px;
}
.Accepted_tabs_filter .dropdown{
    vertical-align: top;
}
@media (min-width :481px) and (max-width :600px) {
    .Accepted_tabs_filter .filter-container input{
        max-width: 230px !important;
        width: 230px !important;  
    }
}