.h6fnhWdeg-tab-controls-container {
    background: #efefef;
    border-radius: 4px;
    padding: 34px 0px 20px 0px;
    margin-bottom: 18px;
}
.h6fnhWdeg-accept-all {
    margin-right: 10px;
}

.h6fnhWdeg-tab-controls-container .filter-container {
    float: right;
    min-width: 390px;
}
.h6fnhWdeg-tab-controls-container .filter-container input {
    float:initial;
    max-width: 200px;
    margin-right: 10px;
}
.h6fnhWdeg-tab-controls-container .filter-container .dropdown {
    float:initial;
}
.h6fnhWdeg-tab-controls-container .btn-default.disabled {
    color: #777;
    background-color: #ffffff;
    border-color: #ccc;
}
.suggested_filter_text {
    padding-left: 19px;
}
@media (min-width :769px) and (max-width :991px) {
    .h6fnhWdeg-tab-controls-container {
        padding: 12px 0px 20px 0px;
    }
}
@media (min-width :601px) and (max-width :768px) {
    .h6fnhWdeg-tab-controls-container {
        padding: 14px 0px 20px 0px;
    }
}
@media (min-width :481px) and (max-width :600px) {
    .h6fnhWdeg-tab-controls-container {
        padding: 14px 0px 20px 0px;
    }
}
@media(max-width:768px){
    .h6fnhWdeg-tab-controls-container .filter-container{
        float:initial;
        margin-bottom: 20px;
    }
    .h6fnhWdeg-tab-controls-container .filter-container .dropdown{
        float:initial;
    }
    .suggested_filter_text {
        text-align: justify;
        padding-left: 4%;
    }
}