.Rejected_tabs_filter .filter-container input{
    max-width:279px !important;
    width:279px !important;
    margin-right: 0px;
    outline: none !important;
    height: 40px !important;
    padding: 1px 9px 0px 10px;
    font-style: italic;
    box-shadow: none !important;
    border-radius: 2px;
}
.Rejected_tabs_filter #dropdownMenuButton{
height:40px;
border-radius: 2px;
}
@media (min-width :481px) and (max-width :600px) {
    .Rejected_tabs_filter .filter-container input {
        max-width: 230px !important;
        width: 230px !important;
    }
}