.h6fnhWdeg-publications-tab-link {
    cursor: pointer;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29 !important;
    letter-spacing: 0.16px;
    text-align: left;
    padding: 21px 15px 11px 15px !important;
    color: #000000 !important;
    font-size: 15px !important;
    height: 51px !important;
}
.h6fnhWdeg-publications-tab-link:hover {
    border-bottom: 0px;
}
.nav-tabs li.active .h6fnhWdeg-publications-tab-link {
    color: #000;
    background-color: #efefef;
    border-bottom: 2px solid #efefef;
    font-weight:bold;
}
.nav-tabs li.active .h6fnhWdeg-publications-tab-link:hover {
    border-bottom: 2px solid #efefef;
    background-color: #efefef;
    color: #777777;
}
.tabs-headers{
    /* margin-top:5%; */
    /* margin-left:6.9%; */
    border-bottom: 1px solid #9b9b9b;
}
.tabs-headers li:nth-child(1){
    margin-left:7.3%;
}
.h6fnhWdeg-publications-tab-link span {
    display: inline-block;
    padding-right: 9px;
    padding-left: 9px;
    background-color: #474747;
    border-radius: 50%;
    width: inherit;
    /* padding-top: 5px; */
    height: 25px;
    line-height: 25px;
    float: right;
    margin-top: -5px;
    margin-left: 5px;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.16px;
    text-align: left;
    color: #ffffff;
}

.h6fnhWdeg-publications-tab-link span.h6fnhWdeg-publications-tab-link-active {
    background: #005ad9;
    color: #ffffff;
}
.newTabs>li>a{
    border:1px solid #dfdfdf;
}
.tabs_tables {
    background-color: #fff;
}
.Tabs_main_body1{
    padding: 20px 30px;
}
.Tabssuggestion_main_body12 .pagination-container{
    padding-left:30px;
}
.Tabssuggestion_main_body12 .pagination-container ul.pagination{
    padding-right: 19px;   
}
@media (min-width : 993px) and (max-width : 1024px) {
    .h6fnhWdeg-publication_tablerow .h6fnhWdeg-publication-row-buttons {
        position: absolute;
        right: 1px;

    }
    .h6fnhWdeg-publication-buttons {
        width: 283px;
    }

}
@media (min-width :769px) and (max-width :992px) {
    .h6fnhWdeg-publication-buttons {
        width: 293px !important;
    }
}

@media (max-width:768px){
    .h6fnhWdeg-publications-tab-link{
        font-size:12px;
    }
    .tabs-headers {
        margin-left: 3.5%;
    }
    .tabs_responsive_table{
        width:99vw;
    }
    .nav > li > a{
        padding:8px 5px;
    }
    .h6fnhWdeg-publication-buttons {
        width: 145px !important;
    }
}
