.h6fnhWdeg-publications-tab-link {
    cursor: pointer;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29 !important;
    letter-spacing: 0.16px;
    text-align: left;
    padding: 21px 15px 11px 15px !important;
    color: #000000 !important;
    font-size: 15px !important;
    height: 51px !important;
}
.addPubmed_record_link {
    position: absolute;
    right: 24px;
    float: right;
    /* bottom: -65px; */
    margin-top: 10px;
}
.addPubmed_record_link p{
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.33;
    letter-spacing: 0.17px;
    /* text-align: left; */
    color: #343434;
}
.bread_crumb_record{
    display:inline-block;
}
.bread_crumb_record .breadcrumb{
    background-color:#fff;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.17px;
    text-align: left;
    color: #005ad9;
    text-decoration: underline;
    display:inline-block;
}
.breadcrumb-item{
    text-decoration:none;
}
.breadcrumb-item a{
    color:#005ad9 !important;
}
.breadcrumb-item+.breadcrumb-item::before{
content:"|";
}
.h6fnhWdeg-publications-tab-link:hover {
    border-bottom: 0px;
}
.nav-tabs li.active .h6fnhWdeg-publications-tab-link {
    color: #000;
    background-color: #efefef;
    border-bottom: 2px solid #efefef;
    font-family: opensans-extrabold;

}
.nav-tabs li.active .h6fnhWdeg-publications-tab-link:hover {
    border-bottom: 2px solid #efefef;
    background-color: #efefef;
    color: #777777;
}
.tabs-headers{
    /* margin-top:5%; */
    /* margin-left:6.9%; */
    border-bottom: 1px solid #9b9b9b;
    width:100%;
}
.tabs-headers li:nth-child(1){
    margin-left:7.3%;
}
.h6fnhWdeg-publications-tab-link span {
    display: inline-block;
    background-color: #474747;
    border-radius: 118%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    float: right;
    margin-top: -5px;
    margin-left: 5px;
    font-family: 'opensans-bold';
    font-size: 14px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.h6fnhWdeg-publications-tab-link span.h6fnhWdeg-publications-tab-link-active {
    background: #005ad9;
    color: #ffffff;
}
.newTabs>li>a{
    border:1px solid #dfdfdf;
}
.tabs_tables {
    background-color: #fff;
    position: relative;
}
.Tabs_main_body1{
    padding: 20px 30px;
}
.Tabssuggestion_main_body12 .pagination-container{
    padding-left:30px;
}
.Tabssuggestion_main_body12 .pagination-container ul.pagination{
    padding-right: 19px;   
}
@media (min-width :1800px) and (max-width :1920px) {
    .tabs-headers li:nth-child(1) {
        margin-left: 5%;
    }
}
@media (min-width :1601px) and (max-width :1799px) {
    .tabs-headers li:nth-child(1) {
        margin-left: 5.6%;
    }
}
@media (min-width :1501px) and (max-width :1600px) {
    .tabs-headers li:nth-child(1) {
        margin-left: 5.6%;
    }
}
@media (min-width :1400px) and (max-width :1500px) {
    .tabs-headers li:nth-child(1) {
        margin-left: 5.6%;
    }
}
@media (min-width :1200px) and (max-width :1365px) {
    .tabs-headers li:nth-child(1) {
        margin-left: 8.3%;
    }
    .h6fnhWdeg-publication-buttons {
        width: 223px !important;
    }
    
}
@media (min-width : 1024px) and (max-width : 1199px) {
    .link_for_show_evidence_hidemain {
        width: 54.3% !important;
    }
    .h6fnhWdeg-publication-buttons{
        width: 273px !important;
    }
    .h6fnhWdeg-publication_tablerow .h6fnhWdeg-publication-row-buttons {
        right: 20px !important;
    }
    .tabs-headers li:nth-child(1) {
        margin-left: 2.3%;
    }
}
@media (min-width : 992px) and (max-width : 1023px) {
    .h6fnhWdeg-publication-buttons {
        width: 242px !important;
    }

}
@media (min-width :769px) and (max-width :991px) {
    .h6fnhWdeg-publication-buttons {
        width: 220px !important;
    }
    .addPubmed_record_link {
position:relative;
float:left;
padding-left:25px;
right:auto;
    }
    .tabs_responsive_table .table-responsive{
        width:96.6vw;
    }
    .tabs_responsive_table .h6fnhWdeg-publications-table{
width:1024px;
    }
    .tabs-headers li:nth-child(1){
    margin-left:2.3%;
    }
    .Tabs_main_body1{
        padding:20px 14px;
    }
}
@media (min-width :601px) and (max-width :768px) {
    .tabs-headers li:nth-child(1) {
        margin-left: 2.3%;
    }
    .addPubmed_record_link {
        position: relative;
        float: left;
        padding-left: 40px;
    }
    .Tabs_main_body1{
        padding:20px 15px;
    }
    .tabs_responsive_table .table-responsive{
        width:95vw;
    }
    .tabs_responsive_table .h6fnhWdeg-publications-table{
width:1024px;
    }
    .h6fnhWdeg-publication-buttons {
        width: 217px !important;
    }
    .addPubmed_record_link {
padding-top:40px;
    }
}
@media (min-width :481px) and (max-width :600px) {
    .tabs-headers li:nth-child(1) {
        margin-left: 2.3%;
    }
    .addPubmed_record_link {
        position: relative;
        float: left;
        padding-left: 40px;
    }
    .Tabs_main_body1{
        padding:20px 15px;
    }
    .tabs_responsive_table .table-responsive{
        width:95vw;
    }
    .tabs_responsive_table .h6fnhWdeg-publications-table{
width:1024px;
    }
    .h6fnhWdeg-publication-buttons {
        width: 217px !important;
    }
}
@media (min-width :320px) and (max-width :480px) {
    .tabs-headers li:nth-child(1) {
        margin-left: 2.3%;
    }
    .addPubmed_record_link {
        position: relative;
        float: left;
        padding-left: 40px;
        padding-top: 15px;
    }
    .Tabs_main_body1{
        padding:20px 15px;
    }
    .tabs_responsive_table .table-responsive{
        width:95vw;
    }
    .tabs_responsive_table .h6fnhWdeg-publications-table{
width:1024px;
    }
    .h6fnhWdeg-publication-buttons {
        width: 217px !important;
    }
    .h6fnhWdeg-publications-tab-link{
        padding: 15px 5px 11px 5px !important;
        font-size: 12px !important;
        height: 46px !important;
    }
    .addPubmed_record_link p{
font-size:12px;
    }
    .bread_crumb_record .breadcrumb{
        font-size:12px;
    }
    .breadcrumb {
        padding: 8px 6px;
    }
}
@media (max-width:768px){
    .tabs_responsive_table{
        width:99vw;
    }
    .nav > li > a{
        padding:8px 5px;
    }
}
