.noAccessContainer {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.noAccessText {
    color: var(--color-danger);
    text-align: center;
    margin-top: 25px;
    font-size: 20px;
}
