.mainContainer {
    font-family: 'Helvetica Neue', Helvetica;
}


.publicationField {
    line-height: 1.3em !important;
}


.publicationCitation {
    display: none;
}

.publicationShowEvidenceContainer {
    display: none;
    margin-top: 20px;
}
.publicationShowEvidenceContainer.publicationShowEvidenceContainerOpen {
    display: block;
}
.publicationEvidenceBar {
    margin-left: 0px !important;
    margin-bottom: 15px !important;
}

.publicationShowEvidenceLink publication-evidence-hide {
    margin-left: -10px;
}

.publicationsEvidenceTable {
    font-size: 14px;
}
.publicationsEvidenceTable thead th {
    background: #074e7e;
    color: #fff;
    padding: 10px;
    border-left: 1px solid #9cb8cb;
    text-align: center;
}
.publicationsEvidenceTable td {
    padding: 5px 10px;
}
.publicationsEvidenceTable thead .firstCell {
    text-align: right !important;
    border-left: none;
}

.publicationsEvidenceTable p {
    margin: 5px 0px;
}

.publicationButtons {
    width: 190px;
    text-align: center;
    padding-top: 23px !important;
}
.publicationContent {
    padding-top: 20px !important;
}
.publicationAccept {
    font-size: 14px;
    font-weight: 600;
    margin-right: 5px;
}
.publicationReject {
    font-size: 14px;
    font-weight: 600;
}
.publicationUndo {
    font-size: 14px;
    font-weight: 600;
    margin-right: 5px;
}
.publicationScore {
    display: inline-block;
    background: #fffdd4;
    border-radius: 4px;
    text-align: center;
    padding: 7px 15px;
    line-height: 1.2em;
    margin-top: 20px;
    font-size: 14px;
}
.publicationScore strong {
    display: block;
    font-size: 28px;
    text-align: center;
    padding: 10px 0px 10px 0px;
}
.publicationContent p {
    line-height: 1.1em;
}

.publicationRowButtons {
    float: right;
}
.publicationRowButtons a {
    background-color: #ffffff;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-left: 10px;
    color: #333333;
}
.publicationShowEvidenceContainer {
    font-size: 14px;
}
.publicationShowEvidenceLink {
    color: #337ab7;
    cursor: pointer;
}
.publicationShowEvidenceLink.publicationEvidenceShow::before {
    content: '-';
    padding: 10px;
    font-size: 26px;
}

.publicationShowEvidenceLink.publicationEvidenceHide::before {
    content: '+';
    padding: 10px;
    font-size: 26px;
}

.publicationShowEvidenceLink {
    text-decoration: none !important;
}
.publicationShowEvidenceLink:hover {
    text-decoration: none;
}

.publicationAuthorHighlighted {
    background-color: #fffdd4;
}

.evidenceScorePopupContainer {
    text-align: left;
    max-width: 300px;
}

.reciterType {
    display: inline-block;
    border: 1px solid #dedcdc;
    background: #eaeae1;
    border-radius: 2px;
    text-align: center;
    padding: 5px 5px;
    line-height: 1.0em;
    margin-top: 8px;
    font-size: 13px;
}

.publicationUndo {
    color: #777;
    background-color: #ffffff;
    border-color: #ccc;
}
.publicationUndo:hover {
    color: #333;
    border-color: #999;
}
