.paginationContainer {
    padding: 0px 10px;
}
.paginationContainer .col {
    padding: 10px;
}
.paginationContainer ul.pagination {
    margin: 0px;
}

.tableRows{
    background-color: #ffffff !important;
}
.pmidLink{
    color: #212529;
}