.main.mainCompact {
  margin-left: 250px;
  width: -webkit-fill-available;
}

.main {
  height: 100%;
  margin-left: 82px;
  padding: 20px 40px;
  width: -webkit-fill-available;
}

.containerFluid {
  height: 100%;
}