.main.mainCompact {
  margin-left: 250px;
  width: -webkit-fill-available;
}

.main {
  height: 100%;
  margin-left: 82px;
  padding: 20px 40px;
  width: -webkit-fill-available;
  background: var(--color-warm-bg);
}

.containerFluid {
  height: 100%;
}

.expandedSideBarContent{
  margin-left: 220px;
  padding: 24px 40px !important;
  min-height: 100vh;
}
.nonExpandedSideBarContent{
  margin-left: 73px;
  padding: 24px 40px !important;
  min-height: 100vh;
}
