.publicationsTabLink {
    cursor: pointer;
    color: var(--wcm-red);
    font-size: 15px;
}
.publicationsTabLink:hover {
    border-bottom: 0px;
    color: var(--wcm-red-dark);
}
.nav-tabs li.active .publicationsTabLink {
    color: var(--gray-800);
    background-color: #ffffff;
    border-bottom: 2px solid var(--wcm-red);
    font-weight: 600;
}
.nav-tabs li.active .publicationsTabLink:hover {
    border-bottom: 2px solid var(--wcm-red);
    background-color: #ffffff;
    color: var(--gray-800);
}

.publicationsTabLink span {
    display: inline-block;
    padding-right: 8px;
    padding-left: 8px;
    background: var(--gray-200);
    color: var(--gray-600);
    border-radius: 50%;
    width: inherit;
    height: 22px;
    text-align: center;
    line-height: 22px;
    font-size: 14px;
    float: right;
    margin-left: 5px;
    letter-spacing: -1px;
    font-weight: 500;
}

.publicationsTabLink span.publicationsTabLinkActive {
    background: var(--wcm-red);
    color: #ffffff;
}
