/* Subgrid of content section in main-container */

.searchContentContainer {
    grid-row-start: page-content;
    display: grid;
    grid-template-rows: [search-bar] auto [search-table] auto [start-footer];
}

.searchBar {
    grid-row-start: search-bar;
    padding: 1rem 3rem;
}

.individualLink {
    color: #337ab7;
    cursor: pointer;
}

.dropdownMenu {
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
}

.textButton {
  color: #0d6efd;
  text-decoration: underline;
  cursor: pointer;
}