.tableHead {
  border-color: #ddd;
}

.tableHeadRow {
  border-top: 0px;
}

.tableHeadCell {
  border-left: 0px;
  border-right: 0px;
}

.tableBody {
  border-top: 2px solid #ddd;
}
.noRecordsFound{
  padding: 1em 0;
  font-weight: 500;
}