.profileTable {
  margin-right: 0px;
}

.profileTable tr {
  border-bottom: 1px solid black;
}

.profileTable tr:last-of-type {
  border-bottom: none;
}

.highlighted {
  display: inline-block;
  background: #d9d9d9;
  border-radius: 2px;
  text-align: center;
  padding: 5px;
  line-height: 1em;
  margin-top: 8px;
  font-size: 10px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0a0e13;
  margin-left: 6px;
  letter-spacing: .11px;
  font-weight: 700;
}

.modalHeader {
  align-items: start;
  background-color: #f5f5f5;
}

.textButton {
  color: #0d6efd;
  text-decoration: underline;
  cursor: pointer;
}
.pr20{
  padding-right: 20px !important;
}

.reportsAdditionalInfo span {
  color: #65686B;
}

.reportsAdditionalInfo a {
  color: #65686B;
}

.reportsAdditionalInfo .midDot:first-of-type::before {
  content: "";
}

.midDot::before {
  content: " ";
  padding-left: 5px;
  padding-right: 5px;
}

.midDot:first-of-type::before {
  display: none;
}

.infoTitle {
  text-decoration: underline dotted;
}

.searchResultContainer {
  padding: 25px 30px;
}
.popoverBg{
  z-index: 8000 !important;
}

.modalWidth{
  width: 174vh !important;
  max-width: 144vh !important;
}