.heading{
    font-size: 21px;
    color: #323942;
    margin-top: 54px;
    letter-spacing: -0.48px;
}
.well-sm {
    padding: 25px;
    border-radius: 3px;
}
.idvidual_ul {
    list-style: none;
}
.idvidual_ul li:before {
    content:"•";
    font-size:10pt;
    margin-right: 10px;
}
.userimg_individual {

}
.tags {
    background-color: #005ad9;
    color: #fff;
    padding: 02px 8px;
    border-radius:5px;
    margin: 0 0 5px;
    font-size: 10px;
    width: fit-content;
    word-wrap: none;
}
.close_icons{
    float:right;
}
.individual_searchfilter {
    position: relative;
}
.border-forms_ids:focus {
    background-color: transparent;
}
.show_recordscaret{
    position: absolute;
    color:#005ad9;
    right:21px;
    top:5px;
}
.searchicon{
    color:#ffffff;
    /* border: solid 4px white; */
    width: 22px;
    height: 17px;
}
.search_carot_icon{
    position: absolute;
    color:#005ad9;
    right:0px;
    top: 0px;
    font-size: 19px;
}
.show_recordscaret {
    font-size: 24px;
    /* padding: 0px 2px 2px 2px; */
    margin: -8px -3px 0px 0px;

}
.border-forms_ids{
    border: 0px;
    /* border-bottom: 1px solid #ececec; */
    border-bottom: solid 2px #dadada;
    border-radius: 0px;
    box-shadow: none !important;
    background-color: transparent;
    color: #212121;
}
.individual_table tbody tr{
    border-bottom:3px solid #F4F4F4 !important;
}
.individual_search_well{
    background-color:#ececec;
    border:1px solid #ececec;
}
.close_icons{
    padding-left: 4px;
}
.selectoption{
        font-weight: 300;
        font-size: 12px;
}
.show_recordscaret{
    padding: 2px 2px 2px 2px;
}
.button1{
    color: #005ad9;
    font-size: 13px;
    border: solid 0.5px #bbbbbb;
    background-color: #f9f9f9;
    margin-left: 32rem;
}
.button2{
    color: #005ad9;
    border: solid 0.5px #bbbbbb;
    background-color: #f9f9f9;
    padding-left: 10px;
    margin: 0px 0px 0px 10px;
    font-size: 13px;
}
.individual_table th {
    background: white !important;
    color: #000 !important;
    font-weight: bold;
}
.scholarHeading {
    margin: 0;
}
.scholars{
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: -0.36px;
    text-align: center;
    color: #323942;
}
.list-inline li{
    vertical-align:middle;
}
.searchHeader {
    background-color: #e8e8e8;
    display: flex;
}
.searchHeader label{
    font-weight: normal;
}
.border{
    border: 1px solid #000 !important;
    height: 34px !important;
    border-radius: 2px;
}
.btn-primes{
    border:0px;
    border-radius: 5px;
    background-color: #005ad9 !important;
}
.individual{
    color:#323942;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
   }

.inputadds{
    background: #005ad9;
    color: #ffff;
    border:0px;
    padding: 6px 18px;
}
.username_individual a{
    color:#000;
}
.btn-span{
    padding-left:15px;
}
.pagination{
    margin:0px 0;
}
.individual_table .row{
    margin-left: 0px;
margin-right: 0px;
}

.indivdual_container{
    margin: 0;
    padding: 0 30px;
}
@media (min-width:1200px) and (max-width:1366px){
    .indivdual_container{
        width:1108px;
    }
}
@media (min-width:992px) and (max-width:1204px){
    .indivdual_container{
        width: 1079px;
    }
    .individual_table {
        width: 1081px;
        overflow-x: auto;
    }
}
@media(min-width:769px) and (max-width:991px){
    .indvidualbody{
        padding-left:0px !important;
        padding-right:0px !important;
    }
    .indivdual_container{
        max-width:96%;
    }
    .userimg_individual {
        width: 45px;
    }
    .username_individual, .title_individual {
        word-break: break-all;
        white-space: initial;
    }
    .heading{
        margin-top:112px;
    }
}
@media(max-width:768px){
    .indvidualbody{
        padding-left:0px !important;
        padding-right:0px !important;
    }
    .indivdual_container{
        max-width:95%;
    }
    .userimg_individual {
        width: 45px;
    }
    .username_individual, .title_individual {
        word-break: break-all;
        white-space: initial;
    }
    .individual_table{
        width:1024px;
    }
    .heading{
        margin-top:112px;
    }
}
