.heading{
    font-size: 21px;
    color: #323942;
    margin-top:30px;
    letter-spacing: -0.48px;
    font-family: '1898Sans-Regular',sans-serif;
}
.well-sm {
    padding: 25px;
    border-radius: 3px;
}
.idvidual_ul {
    list-style: none;
}
.idvidual_ul li:before {
    content:"•";
    font-size:10pt;
    margin-right: 10px;
}
.userimg_individual {
width:100%;
}
.search_indivdual_input{
    width: 89%;
    max-width: 89%;   
}
.search_indivdual_input{
    height: 42px;
    border-radius: 4px;
    border: 2px solid #efefef!important;
    outline: none!important;
    box-shadow: none!important;
    font-size: 15px !important;
    font-weight: 400;
    font-stretch: normal;
    font-style: italic !important;
    line-height: 1.33;
    letter-spacing: -.19px;
    text-align: left;
    color: #212121;
    padding-left: 13px!important;
}
.tags_main_child {
    width: 89%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tags {
    background-color: #005ad9 !important;
    color: #fff;
    padding: 02px 8px;
    border-radius:5px;
    margin: 0 0 5px !important;
    font-size: 10px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 6px !important;
}
.close_icons{
    float:right;
    padding-left: 4px;
    position: relative;
    top: 1.8px;
}
.individual_searchfilter {
    position: relative;
}
.border-forms_ids:focus {
    background-color: transparent;
}
.show_recordscaret{
    position: absolute;
    color:#005ad9;
    right:21px;
    top:5px;
}
.searchicon{
    color:#ffffff;
    /* border: solid 4px white; */
    width: 22px;
    height: 17px;
    font-size: 3em;

}
.search_carot_icon{
    position: absolute;
    color:#005ad9;
    right:0px;
    top: 0px;
    font-size: 19px;
}
.show_recordscaret {
    font-size: 24px;
    /* padding: 0px 2px 2px 2px; */
    margin: -8px -3px 0px 0px;

}
.border-forms_ids{
    border: 0px;
    /* border-bottom: 1px solid #ececec; */
    border-bottom: solid 2px #dadada;
    border-radius: 0px;
    box-shadow: none !important;
    background-color: transparent;
    color: #212121;
}
.individual_table tbody tr{
    border-bottom:3px solid #F4F4F4 !important;
}
.individual_search p{
    margin-top: 14px;
    padding-left: 0px;   
}
.advanced_search_p{
    padding-left:4px;
    margin-top:14px;
}
.individual_search .inputadds {
    display: inline-block;
        padding-top: 12px;
        padding-right: 38px;
        text-align: center;
        font-weight: 900;
        height: 42px;
        width: 57px;
        padding-left: 8px;
    }
#suggestion_tables_evdiencetd{
    padding-top: 0px !important;
}
.individual_search_well{
    border: 1px solid #ececec;
    margin-bottom: 48px;
    border-radius: 2px;
    background-color: #ececec;
    box-shadow: none;
    width:95.3%;
}
.selectoption{
        font-weight: 300;
        font-size: 12px;
}
.show_recordscaret{
    padding: 2px 2px 2px 2px;
}
.button1{
    color: #005ad9;
    font-size: 13px;
    border: solid 0.5px #bbbbbb;
    background-color: #f9f9f9;
    margin-left: 32rem;
}
.button2{
    color: #005ad9;
    border: solid 0.5px #bbbbbb;
    background-color: #f9f9f9;
    padding-left: 10px;
    margin: 0px 0px 0px 10px;
    font-size: 13px;
}
.individual_table th {
    background: white !important;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: -0.32px;
    color: #323942 !important;

}
.scholarHeading {
    margin: 0;
    margin-top:21px;
}
.scholars{
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: -0.36px;
    text-align: center;
    color: #323942;
}
.list-inline li{
    vertical-align:middle;
}
.searchHeader {
    background-color: #e8e8e8;
    display: flex;
}
.individual_table tbody tr:last-child {
    border: 0px !important;
}
.advanced_search_font{
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: -0.59px;
    text-align: left;
    color: #212121;   
}
.searchHeader label{
    font-weight: normal;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: -0.32px;
    color: #323942;
}
.border{
    border: 1px solid #000 !important;
    height: 34px !important;
    border-radius: 2px;
}
.btn-primes{
    height: 39px;
    border-radius: 5px;
    background-color: #005ad9 !important;
    border: 0px !important;
    margin-left: 0px;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.17px;
    text-align: left;
    color: #ffffff;
    box-shadow: none !important;
    outline: none !important;
}
.individual{
    color:#323942;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
   }

.inputadds{
    background: #005ad9;
    color: #ffff;
    border:2px solid #efefef;
    width:58px;
}
.username_individual a{
    color: #323942;
}
.individual_table td{
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5 !important;
    letter-spacing: -0.32px;
    text-align: left;
    color: #323942;  
}
#indivdual_search_selectopts{
    background-image: linear-gradient(45deg, transparent 71%, #005ad9 13%), linear-gradient(135deg, #005ad9 26%, transparent 0%) !important;
    background-position: calc(1% - -135px) 11px,calc(1% - -145px) 11px,0 0;
    background-size: 10px 10px, 10px 10px;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    padding-right: 21px;
    font-size: 14px !important;
    font-weight: bold !important;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: -0.55px;
    text-align: left;
    color: #212121;
    padding-left: 0px !important;
}
.title_individual{
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: -0.32px;
    text-align: left;
    color: #323942;   
}
.advanced_searchssu{
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: 0.16px;
    text-align: left;
    color: #005ad9;
    padding-left: 6px;
}
.username_individual{
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: -0.32px;
    color: #323942;
    margin-bottom: 2px;
    padding-top:18px;
}
.btn-span{
    padding-left:15px;
}
.pagination{
    margin:0px 0;
}
.individual_table .row{
    margin-left: 0px;
margin-right: 0px;
}

.indivdual_container{
    margin: 0;
    padding: 0 30px;
}
.individual_table_body_container .pagination-container{
    padding-left:54px;
}
.indvidualbody .table-responsive{
    padding-left: 56px; 
    padding-right: 38px;  
}
.indvidualbody .table-responsive th{
    padding-left:0px;
    border-bottom:3px solid #f4f4f4 !important;
}
.indvidualbody .table-responsive td{
    padding-left:0px;
}
.individual_table_body_container{
    width:99%;
    overflow:hidden;
    display: table;
}
@media (min-width:1200px) and (max-width:1366px){
    .indivdual_container{
        width:1108px;
    }
}
@media (min-width:1024px) and (max-width:1199px){
    .individual_search .inputadds{
        width:11%;
        padding-right: 41px;
        padding-left: 0px;
            }
            #indivdual_search_selectopts{
                background-position: calc(-1% - -103px) 11px,calc(6% - -105px) 11px,0 0;   
            }
            .individual_searchshowrec .form-control{
                background-position: calc(-2% - -22px) 11px, calc(0% - -31.1px) 11px, 0% 0px;    
            }

}
@media (min-width:992px) and (max-width:1023px){
    .individual_search_well{
        width:100%;
    }
    .indivdual_container{
        width: 1079px;
    }
    .individual_table {
        width: 1081px;
        overflow-x: auto;
    }
    .findscholar_heading{
        margin-top:1%;
    }
    
    .indvidualbody .table-responsive{
        width:100vw;
        overflow-x:auto;
        padding-left:10px;
    }
        #indivdual_search_selectopts {
            background-position: calc(1% - -115px) 11px,calc(1% - -125px) 11px,0 0 !important;  
    }
    .individual_search .inputadds{
        width:8%;
            }
}
@media(min-width:769px) and (max-width:991px){
    .indvidualbody{
        padding-left:0px !important;
        padding-right:0px !important;
    }
    .indivdual_container{
        max-width:96%;
    }
    .userimg_individual {
        width: 45px;
    }
    .username_individual, .title_individual {
        word-break: break-all;
        white-space: initial;
    }
    .heading{
        margin-top:112px;
    }
    .individual_search .inputadds{
        width:8%;
            }
}
@media (min-width:601px) and (max-width:768px){
    .individual_search_well{
        width:100%;
    }
    .individual_search .inputadds{
        padding-left:14px;
    }
    #indivdual_search_selectopts {
        background-position: calc(1% - -163px) 11px,calc(1% - -173px) 11px,0 0;
    }
    .indvidualbody .table-responsive {
        padding-left: 15px;
        padding-right: 38px;
        width: 97vw;
    }
    .indvidualbody{
        width:100vw;
        margin-left:38px;
    }
}
@media (min-width:601px) and (max-width:767px){
    #indivdual_search_selectopts {
        background-position: calc(1% - -97%) 11px,calc(1% - -98.5%) 11px,0 0 !important;
    }
}
    @media (min-width:481px) and (max-width:600px){
        .individual_search_well{
           width:100%;
       }
       .individual_search .inputadds{
        padding-left:4px;
    }
    #indivdual_search_selectopts {
        background-position: calc(1% - -95%) 11px,calc(1% - -97%) 11px,0 0;
    }
    .indvidualbody .table-responsive {
        padding-left: 15px;
        padding-right: 38px;
        width: 97vw;
    }
    .indvidualbody{
        width:100vw;
        margin-left:38px;
    }
    }
@media (min-width:320px) and (max-width:480px){
    .individual_search_well {
        width: 100%;
        padding: 10px;
    }
    #indivdual_search_selectopts {
        background-position: calc(1% - -96%) 11px,calc(1% - -98.5%) 11px,0 0;
    }
.searchicon{
    margin-left:5px;
    width:1em;
    font-size:1em;
}
.individual_search .inputadds {
    width: 0%;
    padding-left: 5px;
    padding-right: 24px;

}
}
@media (min-width:320px) and (max-width:439px){
    .btn-span {
        padding-left:0px;
            }
            .btn-primes {
                margin-top: 12px;
                display: block;
            }
            /* #indivdual_search_selectopts {
                background-position: calc(1% - -95.9%) 11px,calc(1% - -99.5%) 11px,0 0 !important;
            }  */
            .indivdual_container {
                margin: 0;
                padding: 0 8px;
            }
            .indvidualbody .table-responsive {
                padding-left: 5px;
            }

}
@media (min-width:371px) and (max-width:480px){
    .indvidualbody{
        width: 97.8vw;
        margin-left:6.5%;   
    }
    .indvidualbody .table-responsive {
        padding-left: 5px;
    }
}
@media (min-width:351px) and (max-width:375px){
    #indivdual_search_selectopts {
        background-position: calc(1% - -97%) 11px,calc(1% - -99.5%) 11px,0 0 !important;
    }
    .indvidualbody{
        width: 97.8vw;
        margin-left: 8%;   
    }
    .indvidualbody .table-responsive {
        padding-left: 5px;
    }
}
@media (min-width:320px) and (max-width:350px){
    #indivdual_search_selectopts {
        background-position: calc(1% - -95.9%) 11px,calc(1% - -99.5%) 11px,0 0 !important;
    } 
    .indvidualbody {
        width: 97.8vw;
        margin-left: 9%;      
    }
    .searchHeader .col-xs-6{
        width:56%;
    }
}
@media(max-width:768px){
    .individual_search .inputadds {
        width: 11%;
    }
    .indvidualbody{
        padding-left:0px !important;
        padding-right:0px !important;
    }
    .indivdual_container{
        max-width:100%;
    }
    .userimg_individual {
        width: 45px;
    }
    .username_individual, .title_individual {
        word-break: break-all;
        white-space: initial;
    }
    .individual_table{
        width:1024px;
    }
    .heading{
        margin-top:76px;
    }
}
