.individual2_table tr:first-child{
    border-top:3px solid #f4f4f4;
}
.individual_evidence_table  tr:first-child{
    border-top:1px solid #202b3b !important;
}
.individual2_table h4{
    /* border-bottom: 1px solid #ccc; */
    padding: 5px 10px 15px 15px;
   
}
.individual2_table{
    margin:0px;
}
.individual2_table td{
    padding-top:35px !important;
}
.group_heeader_main{
    padding-left: 16px;
    padding-top: 21px;
    padding-bottom: 15px;
    margin-top: 0px;
}
.gtsymbol{
    margin: 2px 2px 2px 11px;
    font-size: 19px;
}
.individual_suggest_containers {
    background-color: #f0f0f0;
    display: table;
    width: 100%;
    padding: 36px 24px 15px 34px;
    overflow: hidden;
}
.individual_suggestions .searchHeader{
    margin:0px;
}
.suggestionsss_table_evdience{
    padding-top:0px !important;
}
.individual_suggest_containers12 {
    background-color: #e8e8e8;
    display: table;
    width: 100%;
    /* padding: 15px; */
    overflow: hidden;
}
.search_filterss li{
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: -0.39px;
    text-align: left;
    color: #202b3b;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.search_filterss h5{
    font-size: 14px;
    margin-bottom:6px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: -0.55px;
    text-align: left;
    color: #212121;
}
.search_filterss {
    list-style: none;
    padding-left:15px;
    padding-bottom:25px;
}
.searchfilter_edit a{
    text-decoration: underline;
    color: #005ad9 !important;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: 0.16px;
    text-align: left;

    color:#005ad9 !important;
}
.searchfilter_edit{
 background-color:#e3e3e3;
 text-align: center;  
 padding:10px; 
}
.review{
    padding: 10px 0px 0px 0px;
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height:25px;
    letter-spacing: -0.48px;
    text-align: left;
    color: #323942;
    padding-left: 3px;
    font-family: '1898Sans-Regular',sans-serif;
}
.searchby ul{
    list-style-type: none;
    list-style: none;
    padding: 3px 0px 2px 15px;
}
.searchby ul li{
    font-size: 12px;
    /* font-family: OpenSans; */
}
/* .listtable {
    list-style-type: none;
} */
.individual_evidence_table>thead>tr>th{
    border-bottom: 1px solid #202b3b !important;
}
.findscholar{
    font-size: 16px;
    padding:21px 5px 0px 2px;
    margin: 0px 15px -1px 14px;
}
.findscholar h4 {
    margin-top: 0px;
}
.suggestions_edit_lastchild li{
    padding-right:10px;
}
.findscholar .scholarlink a{
    text-decoration: underline;
    margin-top: 20px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height:19px;
    letter-spacing: -0.36px;
    text-align: left;
    color: #005ad9;
    font-family: '1898Sans-Regular',sans-serif;
}
.listtable ,.listtable3{
    margin: 5px 3px 3px -21px;
    font-size: 13px;
}
ul .listtable2{
    padding-left: 10px;
}
.tablehead{
    font-weight: 900;
    font-size: 14px;
    padding: 3px 0px 5px 0px;
}
.searchtable{
    margin: 1px 2px 2px 2px;
    padding: 2px 2px 2px 2px;
}
/* .listtable li{
    font-size: 10px;
} */
.listtable .searchedby{
    font-style: italic;
    font-size: 15px;
    font-weight: 500;
    color: #212121;
    margin: 2px 2px 2px 18px;
}
.Searchby_font{
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: -0.59px;
    text-align: left;
    color: #212121;
    margin: 0px;
    padding-bottom:14px;
}
.search{
    box-sizing: border-box;
    border: 1px solid #ececec;
    background-color: #ececec;
    padding: 17px 0px 0px 0px;
    margin: 0px 13px 0px 16px;
    box-shadow: none;
    max-width: 39.7%;
}
li .search{
    font-style: italic;
}
.edit{
    background-color:#e3e3e3;
    border:1px solid #ececec;
    box-sizing: border-box;
    margin: 0px 4px 2px 16px;
}
.editsearch{
margin-bottom: 10px;
margin-top: 5px;
}
.edit ul a{
    /* align-items:center; */
    /* text-align: center; */
    margin: 10px 2px 2px 94px;
    padding: 0px 3px 3px 103px;
    text-decoration: underline;
    color: #005ad9;
}
.alert_to_many{
    padding: 10px;
    width: 14%;  
}
.scholars h4{
    padding-top: 47px;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: -0.36px;
    color: #323942;
    padding-left: 3px;
}
.link{
    margin: 14px 11px 6px 9px;
    height: 22px;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: -0.5px;
    text-align: left;
    color: #005ad9;
}
.link a{
    color: #005ad9;
    text-decoration: underline;
}
.individual2_table td:nth-child(1) {
    width: 12%;
}
.individual2_table td:nth-child(2) {
    width: 72%;
}
.Individual_group_title{
    border-bottom: solid 3px #f4f4f4;
    margin-left: 15px;
    margin-right: 25px;
    width: 50% !important;
    flex: 0 0 97.5%;   
}
.individual_suggestion_main_container{
    background-color:red;
}
.contnet_individual_suggestions p{
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: 0.18px;
    text-align: left;
    color: #000000;
    font-size: 16px;
}
.h6fnhWdeg-publication-accept{
    display: inline-block;
    margin: 5px;
    height:33px;
    background-color: #77d900 !important;
    border:0px !important;
    border-radius: 2px;
    outline: none !important;
    box-shadow: none !important;
    color:#202b3b !important;
    margin-right:0px;
    font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.17px;
    font-size:15px;
    margin:5px;
}
.h6fnhWdeg-publication-reject{
    display: inline-block;
    margin: 5px;
    /* margin-top:0px; */
    margin-right:0px;
    height:33px;
    background-color:#d91a00 !important;
    border:0px !important;
    border-radius: 2px;
    outline: none !important;
    box-shadow: none !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.17px;
      font-size:15px;
}
.suggestionTex{
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #005ad9;   
    position:relative;
    font-size: 15px;
    top:2px;
}
.suggestion_indvidual_table_col{
    padding:0px;
}
.suggestionText{
    cursor:pointer;
    pointer-events:auto;    
}
.suggestion_getpumedbtn{
    margin: 0px 2.5px 0px 2.5px !important;
}
.individual_suggestionsshowhidecol{
    margin-top: -15px;  
}
.individual_suggestion_accordinbtn{
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #005ad9;
    /* position: relative;
    top: -26px;  */
    cursor:default;
    pointer-events:none; 
    margin-left:10px; 
}
.name{
    margin: 2px 2px 2px 6px;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: 0.38px;
    text-align: left;
    color: #323942;
}
.individual_evidence_table td {
    padding-top: 8px !important;
}
.indiviindividual_suggestions{
    margin-top:0px;
}
.individual_searchshowrec .form-control{
    width: 56px !important;
    height: 31px !important;
    border-radius: 4px;
    border: solid 0.5px #bbbbbb;
    background-color: #f9f9f9;
    background-image:linear-gradient(45deg, transparent 69%, #005ad9 13%), linear-gradient(135deg, #005ad9 31%, transparent 26%) !important;
    background-position: calc(1% - -33px) 13px, calc(1% - -42px) 13px, 0% 0px;
    background-size: 10px 10px, 10px 10px;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    padding-left: 8px !important;
    margin-left: 0px;
    font-size: 11px;
  
}
.individual_search .form-control {
    margin-top: 6px;
    -webkit-appearance: none;
    -moz-appearance:none;
    appearance:none;
    width:100% !important;

}
#form-label_number{
    padding: 9px 0px 0px 32px;
}
#form_group{
    margin-bottom:0px;
}
.form-control{
    padding: 1px 9px 0px 25px;
}
select .form-control{
    padding:10px;
}
.button1{
    color: #005ad9;
    font-size: 13px;
    border: solid 0.5px #bbbbbb;
    background-color: #f9f9f9;
    margin-left: 32rem;
}
.button2{
    color: #005ad9;
    border: solid 0.5px #bbbbbb;
    background-color: #f9f9f9;
    padding-left: 10px;
    margin: 0px 0px 0px 10px;
    font-size: 13px;
}
.searchHeader {
    background-color: #e8e8e8;
    padding: 0px;
    display: flex;
    margin: 5px 0px 12px 2px;
}
.individual2_table table .button{
    margin: 4px 2.5px 4px 2.5px;   
}
.suggestion_get_pubmed_btns a{
    text-decoration: none !important;
}
.button{
    background-color: white !important;
    color: #005ad9 !important;
    box-shadow: none !important;
    outline: none !important;
    margin: 4px;
    width: 89px;
    height: 39px;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.17px;
    border-radius: 2px !important;
    text-decoration: none !important;
}
/* .suggestionText a {
    float: left;
    font-size: small;
    margin: 20px 0px 0px;
    padding: 0px;
    text-decoration: underline;
    color: #005ad9;
}
.plussign a {
    font-size: 30px;
    float: right;
    margin: 9px -11px 1px 5px;
    text-align: left;
    display: inline;
    color: #005ad9;
} */
.plussign a{
    margin: 0;
    font-size:15px;
    color: #005ad9;
    
}

a >p{
display: inline;
margin-right: 32rem;
text-decoration: underline;
}
.plus{
    margin-bottom: 10px;
}
p .suggestionText a{
    margin:2px 2px 2px 2px;
    color: #005ad9 ;
}
.plussign ,a .pluslink{
    font-size: 10px;
}
.contnet_individual_suggestions {
    margin: 0px;
}
.firsttable ,.secondtable {
    /* border:1px solid lightgray; */
    background-color: #fff;
    margin: 0px 0px 29px 0px;
    box-shadow: 0px 0px 5px 5px #eaeaea;
}
.individual_evidence_table th {
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.17px;
    text-align: left;
    color: #ffffff;
}
.individual_evidence_table small{
    font-size:14px;
}
.individual_evidence_table td {
    font-size: 14px;
    color: #000;
}
.individual_evidence_table td:nth-child(1){
    width:22%;
}
.individual_evidence_table th:nth-child(2){
    padding-left:31px;    
}
.individual_evidence_table td:nth-child(2){
    width:40%;
    padding-left:31px;
}

.individual_evidence_table td:nth-child(3){
    width:35%;
}

.h6fnhWdeg-publication-score {
    display: inline-block;
    background: #202b3b;
    border-radius: 0px;
    text-align: center;
    padding: 14px 10px 7px 10px;
    line-height: 1.2em;
    margin-top: 20px;
    font-size: 12px;
    height: 89px;
    border-radius: 2px;
    color: #fff;
    width: 108px;
}
.secondtable{
    margin-top: 20px;
}
a h4{
    margin-top: 20px;
}
@media (min-width:1400px) and (max-width:1920px){
    .individual_suggest_container {
        width: 100% !important;
        max-width: 100%;    
        margin-left: 8px;
    }
}
@media (min-width:1300px) and (max-width:1920px){
    .firsttable .table-responsive{
        overflow-x: hidden;
    }
    .individual_suggest_container{
        padding-left:20px;
    }
    .suggestion_get_pubmed_btns {
        margin-top: -13px;
    }
}
@media (min-width: 1200px){
    .container {
        width: 1119px;
    }
    .individual_suggest_container{
        padding-left: 20px;
        overflow: hidden;
    }
    .suggestion_get_pubmed_btns {
        margin-top: -13px;
    }
    }
@media (min-width:992px) and (max-width:1023px){
    .findscholar{
        margin:7px 15px 10px 14px;    
         }
         .search{
            max-width:45.7%;
        }
}
@media (min-width:769px) and (max-width:991px){
    .accordion .table-responsive{
        width:100vw;
    }
    .individual_suggest_container {
        width:100%;
        max-width: 100%;
    }
    .individual2_table{
        width:1024px;
    }
    .individual_suggest_containers{
        padding: 36px 14px 15px 16px;   
    }
    .search{
        max-width: 105.7%;
        flex: 0 0 62%;
    }
    .findscholar {
        margin: 76px 15px 10px 14px;
    }
    .findscholar h4{
        font-size: 15px;
    }
    .firsttable{
        width: 96vw;
        overflow: hidden;   
    }
}
    @media(max-width:768px){
        .pubmed_suggestions_second_td{
            max-width:800px;
            width: 800px !important;
            white-space: normal !important;
        
        }
        .suggestion_get_pubmed_btns{
            position: absolute;
            right:83px;
        }
        .individual_suggest_container {
            width:100%;
            max-width: 100%;
        }
        .firsttable{
            width: 96vw;
            overflow: hidden;   
        }
        .contnet_individual_suggestions {
            padding-right:25px;
        }
        .accordion .table-responsive{
            width:100vw;
        }
        .individual2_table{
            width:1024px;
            position: relative;
        }
        .individual_suggest_containers{
            padding: 36px 14px 15px 9px;   
        }
        .search {
            max-width: 100%;
            flex: 0 0 87%;
        }
        .findscholar{
            margin:57px 15px 10px 14px;
        }
        .findscholar h4{
            font-size: 15px;
        }
    }
